/* Enter your custom styles here */
.card_custom{
	box-shadow:  10px 10px 20px #cecece,
	-10px -10px 20px #f2f2f2;
}

.sapFShellBar {
	background: #001952 !important;
	height: 3.25rem;
	box-shadow: inset 0 -0.0625rem 0 0 #ffffff;
}

span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #001952 !important;
    border-color: #001952 !important;
    color: #ffffff;
    text-shadow: 0 0 0.125rem transparent;
}
.sapTntNavLIItem .sapTntNavLIGroupIcon {
    color: #001952 !important;
}

.sapMMessageToast{
	background : #629192 !important;
	color: #FFFFFF !important;
	width:25rem !important;
	max-width : 25rem !important;
	opacity: 0.5 !important;
}
